.fullscreen1{
    width:100VW;
    height:100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('PIC/03.jpg');
    background-position: center; 
}
.fullscreen2{
    width:100VW;
    height:100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('PIC/BGM.jpg'); 
    background-position: center;
}

body{
    font-family:sans-serif;
    --h:0;
    --scrollY:0;
}
.wctext{
    font-size:calc(80vw / 40);
    margin-bottom: 3%; 
    text-align: left;
    color: white;
}


h1{
    font-size:calc(60vw / 30);
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    border: 2px solid black;
    top: 100vw;
}
h2{
    font-size:calc(60vw / 50);
}
b{
    color: deeppink;
}

.text01{
    font-size:1.2vw;
    margin-top: 5vh;
    margin-left: 5vw;
}
.text02{
    font-size:1.2vw;
    margin-top:5vh;
    margin-left: 0vw;
}
.text03{
    font-size:1.2vw;
    margin-top:5vh;
    margin-left: 0vw;
}

.button:hover{
    opacity: 0.5;
    transform: scale(1.2);
    transition:0.25s;
}
.button1{
    width: 20vw;
    cursor:pointer;
    position:absolute;
    right: 40vw;
    top: 10vh;
}
.button2{
    width: 20vw;
    cursor:pointer;
    position:absolute;
    right: 55vw;
    top: 50vh;
}
.button3{
    width: 20vw;
    cursor:pointer;
    position:absolute;
    right: 25vw;
    top: 50vh;
}
.button4{
    width: 50vw;
    position:absolute;
    cursor:pointer;
    margin-left:25vw;
    top: 160vh;
}

#ex1{
    display: block;
    color: white;
    padding: 1em;
    position:relative;
    width:25vw;
    top: 0vw; 
    right: -55vw;
}
#ex2{
    display: block;
    color: white;
    padding: 1em;
    position:relative;
    width:25vw;
    top: 10vw; 
    right: -5vw;
}
#ex3{
    display: block;
    color: white;
    padding: 1em;
    position:relative;
    width:25vw;
    top: -5vw; 
    right: -75vw;
}
[data-tog="1"]{
    left: 150vw !important;
}



@media screen and (max-width: 480px) {
    .fullscreen1{
        background-image: url('PIC/03.jpg'); 
    }
    .fullscreen2{
        background-image: url('PIC/BGMX.jpg'); 
    }
    .social{
        font-size:30;
        margin-bottom: 20%;   
    }
    .wctext{
        font-size:calc(80vw / 40);
        margin-bottom: 3%; 
        text-align: left;
        color: white;
    }
    
    h1{
        font-size:calc(60vw / 30);
        background-color: white;
        color: black;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        border-radius: 12px;
        border: 2px solid black;
        top: 100vw;
    }
    h2{
        font-size:calc(60vw / 50);
    }
    b{
        color: deeppink;
    }
    
    .text1{
        font-size:4vw;
        margin-top: 5vh;
        margin-left: 5vw;
    }
    .text01{
        font-size:3vw;
    }
    .text02{
        font-size:3vw;
    }
    .text03{
        font-size:3vw;
    }
    
    .button:hover{
        opacity: 0.5;
        transform: scale(1.2);
        transition:0.25s;
    }
    #ex1{
        display: block;
        color: white;
        padding: 1em;
        position:relative;
        width:35vw;
        top: 0vw; 
        right: -55vw;
    }
    #ex2{
        display: block;
        color: white;
        padding: 1em;
        position:relative;
        width:35vw;
        top: 10vw; 
        left: 55vw;
    }
    #ex3{
        display: block;
        color: white;
        padding: 1em;
        position:relative;
        width:40vw;
        top: 25vw; 
        left: 55vw;
    }
    .button1{
        width: 35vw;
        cursor:pointer;
        position:absolute;
        right: 50vw;
        top: 15vh;
    }
    .button2{
        width: 35vw;
        cursor:pointer;
        position:absolute;
        right: 48vw;
        top: 45vh;
    }
    .button3{
        width: 35vw;
        cursor:pointer;
        position:absolute;
        right: 50vw;
        top: 75vh;
    }
    .button4{
        width: 50vw;
        position:absolute;
        cursor:pointer;
        margin-left:25vw;
        top: 160vh;
    }
        
}