.fullscreen{
    width:100VW;
    height:100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('PIC/BGM4.jpg'); 
}

.flex-center-parent{
    display:flex;
    justify-content: right;
    align-items:center;
    
}


body{
    font-family:sans-serif;
}
.wctext{
    font-size:calc(60vw / 40);
    text-align: center;
    margin-right: 10vh;
    color: white;

}
p{
    font-size:calc(60vw / 40);
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid black;
  }
  .button:hover {
    background-color: #ffc31f ;
    color:white ;
    border: 2px solid #ffc31f;
  }
  .button {
    transition-duration: 0.3s;
  }
  #U7{
    display: block;
    color: white;
    padding: 1em;
    position: fixed;
    width:29vw;
    top: 18vw; 
    right: -35vw;
    box-sizing: border-box;
}
  #U8{
    display: block;
    color: white;
    padding: 1em;
    position: fixed;
    width:13.5vw;
    top: 16vw; 
    right: -20vw;
    box-sizing: border-box;
}
  #U9{
    display: block;
    color: white;
    padding: 1em;
    position: fixed;
    width:2vw;
    top: 26vw; 
    right: -10vw;
    box-sizing: border-box;
}
[data-tog="1"]{
    right: 58vw !important;
}


@media screen and (max-width: 800px) {
  .fullscreen {
    background-image: url('PIC/BGM2X.jpg'); 
}
.wctext{
  font-size:calc(60vw / 20);
  text-align: center;
  margin-top: 20vh;
  margin-left: 10vh;
  color: white;
}
p{
  font-size:calc(60vw / 20);
}
.flex-center-parent{
display:flex;
justify-content: center;
align-items:center;   
}
}