.fullscreen1{
    width:100VW;
    height:100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('PIC/01.jpg'); 
    background-position: center;
}
.fullscreen2{
    width:100VW;
    height:100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('PIC/02.jpg'); 
    background-position: center;
}

.fullscreen3{
    width:100VW;
    height:100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url('PIC/03.jpg'); 
    background-position: center;
}

body{
    font-family:sans-serif;
    --h:0;
    --scrollY:0;
}
.wctext{
    font-size:calc(80vw / 40);
    margin-bottom: 3%; 
    text-align: center;
    color: white;
}
h1{
    font-size:calc(60vw / 20);
}
h3{
    font-size:calc(60vw / 30);
}

.text01{
    margin-top: 20vh;
    margin-left: 0vw;
}
.text03{
    margin-top: 40vh;
    margin-left: 0vw;
}
.button1{
    width: 15vw;
    position:absolute;
    cursor:pointer;
    right: 48vw;
    margin-top: 5%;
}
.button2{
    width: 15vw;
    position:absolute;
    cursor:pointer;
    right: 35vw;
    margin-top: 5%;
}
.button:hover{
    opacity: 0.6;
    transform: scale(1.2);
    transition:0.5s;
  }
.factory{
    width: 45vw;
    position:absolute;
    right: 25vw;
    top: 20vh;
}
  
  
  
  
  
@media screen and (max-width: 480px) {
    .fullscreen1{
        background-image: url('PIC/01.jpg'); 
    }
    .fullscreen2{
        background-image: url('PIC/022.jpg');
    }
    .fullscreen3{
        background-image: url('PIC/03.jpg'); 
    }
    .wctext{
        font-size:calc(80vw / 40);
        margin-bottom: 3%; 
        text-align: center;
        color: white;
    }
    h1{
        font-size:calc(60vw / 20);
    }
    h3{
        font-size:calc(60vw / 30);
    }
    
    .text01{
        font-size:calc(100vw / 20);
        margin-top: 20vh;
        margin-left: 0vw;
    }
    .text03{
        font-size:calc(100vw / 20);
        margin-top: 40vh;
        margin-left: 0vw;
    }
    .factory{
        width: 70vw;
        position:absolute;
        right: 15vw;
        top: 30vh;
    }
    .button1{
        width: 35vw;
        position:absolute;
        cursor:pointer;
        right: 48vw;
        margin-top: 5%;
    }
    .button2{
        width: 35vw;
        position:absolute;
        cursor:pointer;
        right: 18vw;
        margin-top: 5%;
    }
    .social{
        font-size:30;
        margin-bottom: 20%;   
      }    
}
